p {
  max-width: 500px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ex {
  height: 300px;
  width: 400px;
}

#logo {
  height: 150px;
  width: 150px;
}
