header {
  background-color: black;
  color: white;
  width: 100%;
}

p {
  max-width: 500px;
}

header,
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#earth {
  height: 200px;
  width: 300px;
}

#ex {
  height: 300px;
  width: 400px;
}
