header {
  background-color: black;
  color: white;
  padding-bottom: 20px;
  width: 100%;
}

p {
  max-width: 500px;
  margin: 0px;
}

header,
.landing,
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

.dark {
  color: white;
  background-color: black;
}

.section {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#earth {
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
}

#ex {
  height: 300px;
  width: 400px;
}

@media screen and (min-width: 900px) {
  .section {
    display: flex;
    flex-direction: row;
  }
}
