/* Class styling */

.address {
  margin-bottom: 0px;
}

.clean {
  flex-direction: column;
  justify-content: center;
  min-height: 280px;
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  transition-duration: 1s;
  width: 100%;
}

.cleanSiteImg {
  max-height: 200px;
  max-width: 300px;
  padding: 10px;
}

.content {
  display: none;
  margin-top: 5px;
  padding: 5px;
}

.siteContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.tile {
  align-items: center;
  border-radius: 5px;
  color: black;
  display: flex;
}

.tile:hover {
  box-shadow: 8px 5px 5px hsla(180, 1%, 24%, 0.541);
}

.trash {
  flex-direction: column;
  height: 300px;
  justify-content: center;
  min-height: 280px;
  margin: 10px;
  width: 300px;
  padding: 10px;
  transition-duration: 1s;
}

.trashSiteImg {
  max-height: 200px;
  max-width: 300px;
  padding: 10px;
}

/* Responsive Adjustments */

@media screen and (min-width: 800px) {
  .clean {
    flex-direction: row;
    max-height: 400px;
    max-width: 550px;
  }
  .content {
    display: flex;
  }
  .siteContent {
    align-self: start;
  }
  .trash {
    flex-direction: row;
    width: 700px;
    height: 200px;
  }
  .trashSiteImg {
    max-height: 280px;
    max-width: 400px;
    padding: 10px;
  }
}
