p {
  max-width: 500px;
}

.detailImg {
  margin-top: 50px;
}

.siteDetail,
.detailFoot,
.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailFoot,
.detail {
  width: 90%;
}

@media screen and (min-width: 900px) {
  .siteDetail {
    flex-direction: row;
  }
}
