/* Class styling */

.cleanDetailImg {
  max-height: 400px;
  max-width: 500px;
  padding: 5px;
  width: 90%;
}

.detailImg {
  height: 80%;
  max-width: 600px;
  padding: 10px;
  width: 90%;
}

.details {
  align-self: start;
  padding: 20px;
  width: 90%;
}

.siteDetail {
  align-items: center;
  background-color: rgba(211, 209, 209, 0.13);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  padding: 10px;
  width: 80%;
}

/* Responsive Adjustments */

@media screen and (min-width: 800px) {
  .cleanDetailImg {
    max-height: 500px;
    max-width: 800px;
  }
  .details {
    width: 50%;
  }
  .siteDetail {
    flex-direction: row;
  }
  .detailImg {
    max-width: 70%;
  }
}
