/* Class Sytling */

.comments {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  max-width: 100%;
}

.commentList {
  list-style-type: none;
}

.hidden {
  display: none;
}

/* Id Sytling */

#noComment {
  padding: 10px;
}
