a {
  text-decoration: none;
}

h1 {
  padding: 10px;
}

p {
  /* font-family: "Open Sans", sans-serif; */

  padding: 10px;
}

main {
  padding-top: 50px;
}
.App {
  text-align: center;
  width: 100%;
}
