/* Global element styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

button {
  min-width: 200px;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  width: 100%;
}


main {
  padding-top: 60px;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 26px;
}
/* Global class sytles */

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.error {
  color: red;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formBorder { 
  border: 1px solid hsla(0, 0%, 78%, 0.747);
  margin-top: 30px;
  max-width: 350px;
  width: 80%;
}

.formInput {
  padding: 5px;
  width: 80%;
  max-width: 350px;
}

.subtitle {
  padding: 20px 5px 2px;
}

.title {
  padding: 20px 15px 5px;
}

.whiteButton {
  background-color: white;
  border: 1px solid hsla(0, 0%, 78%, 0.747);
  border-radius: 4px;
  box-shadow: 5px 3px 4px rgba(179, 179, 179, 0.322);
  color: black;
  font-family: Ubuntu;
  font-size: 12px;
  margin: 15px;
  min-width: 170px;
  padding: 5px;
  text-align: center;
  transition-duration: 1s;
}

.whiteButton:hover {
  box-shadow: 5px 3px 4px rgba(102, 102, 102, 0.822);
}

.wrapper {
  min-height: 100%;
}

/* .subtitle {
  display: none;
  font-size: 19px;
  padding-top: 5px;
} */

/* App component ID styles */

#footerSignUp {
  color: white;
  padding: 5px;
  transition-duration: 1s;
}

#footerSignUp:hover {
 text-decoration: underline;
}


