/* Global element styles */

* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  /* text-align: center; */
}

button {
  min-width: 200px;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  width: 100%;
}

p {
  line-height: 26px;
}

main {
  padding-top: 60px;
  flex: 1 0 auto;
}

/* Global class sytles */

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.blackButton {
  background-color: black;
  border: 1px solid hsla(0, 0%, 47%, 0.9);
  border-radius: 4px;
  box-shadow: 5px 3px 4px rgba(179, 179, 179, 0.322);
  color: white;
  font-family: Ubuntu;
  margin: 10px;
  min-width: 200px;
  padding: 10px;
  text-align: center;
  transition-duration: 1s;
}

.blackButton:hover {
  /* color: hsla(209, 85%, 62%, 0.9); */

  box-shadow: 5px 3px 4px rgba(102, 102, 102, 0.822);
}

.whiteButton {
  background-color: white;
  border: 1px solid hsla(0, 0%, 47%, 0.9);
  border-radius: 4px;
  box-shadow: 5px 3px 4px rgba(179, 179, 179, 0.322);
  color: black;
  font-family: Ubuntu;
  font-size: 16px;
  margin: 10px;
  min-width: 200px;

  padding: 10px;
  transition-duration: 1s;
}

.whiteButton:hover {
  /* background-color: black; */
  /* color: hsla(209, 85%, 62%, 0.9); */

  box-shadow: 5px 3px 4px rgba(102, 102, 102, 0.822);
}

.wrapper {
  min-height: 100%;
}

.formInput {
  padding: 5px;
  width: 80%;
}

.formLabel {
  display: none;
  font-size: 19px;
  padding-top: 5px;
}

.listTitle {
  padding: 25px 15px 5px;
}

/* App component ID styles */

#footerSignUp {
  color: white;
  transition-duration: 1s;
}

#footerSignUp:hover {
  color: hsla(209, 85%, 62%, 0.9);
}

@media screen and (min-width: 200px) {
  .formInput {
    max-width: 200px;
  }
}
