.navBar {
  background-color: black;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.nav {
  color: white;
  margin: 10px;
  padding: 10px;
  transition-duration: 1s;
}

.nav:hover {
  color: hsla(209, 45%, 61%, 0.9);
}

#logo {
  height: 30px;
  margin: 0px;
  width: 30px;
}
