.address {
  margin-bottom: 0px;
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  min-width: 300px;
  width: 100%;
}

.siteImg {
  height: 300px;
  width: 400px;
}

.title {
  margin-bottom: 0px;
}

@media screen and (min-width: 500px) {
  .container {
    flex-direction: row;
  }
}
