a {
  width: 100%;
  margin: 0px;
}

img {
  height: 200px;
  margin-bottom: 15px;
  width: 300px;
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  min-width: 300px;
  /* margin: 15px; */

  width: 100%;
}

.title {
}
