/* Id styling */

#content {
  font-size: 16px;
  margin-top: 10px;
  min-height: 100px;
  padding: 5px;
  width: 80%;
}

/* Responsive Adjustments */

@media screen and (min-width: 500px) {
  .addFloat {
    float: right;
  }

  #content {
    max-width: 400px;
  }
}
