.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.commentList {
  list-style-type: none;
}

.hidden {
  display: none;
}

#noComment {
  padding: 10px;
}
