.comments {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  max-width: 100%;
}

.commentList {
  list-style-type: none;
}

.hidden {
  display: none;
}

#commentLogIn {
  color: rgba(61, 61, 61, 0.795);
}

#noComment {
  padding: 10px;
}
